body {
  font-family: "inter", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-top: 15vh; /* Adiciona um espaçamento superior de 2vh */
}


.food-displayer-container {
  margin: auto;
  display: flex;
  width: 60rem;
  justify-content: center; /* Alinha horizontalmente ao centro */
}


#foods-container {
  align-self: center;
  width: 70rem;
  padding: 2vh;
}

#foods-container .page-title {
  text-align: center;
  color: #FF9900;
}

.categories-imgs {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 1); /* Valores ajustados para aumentar a sombra */
  border-radius: 25px;
  object-fit: cover;
  width: 300px;
  height: 300px;
  position: relative;
}

.menu-imgs{
  border-radius: 25px;
  object-fit: cover;
  width: 100px;
  height: 100px;
  position: relative;
}


.food-displayer {
  gap: 25px;
  width: 60rem;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap; /* Permite que os itens sejam quebrados em várias linhas */
  
}

.food-displayer .food-item {
  width: calc((100% - 2 * 50px) / 3); /* Calcula a largura dos itens */
}

.foodplace-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  color: #FF9900;
}

.buttons-align {
  justify-content: center;
  display: flex;
  position: relative;
  margin: auto;
  bottom: 20%
  
}











