.NovoContainer,  .favorite-item {
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Alinha horizontalmente no centro */
    align-items: center; /* Alinha verticalmente no centro */
    position: relative;
    transition: 0.5s;
  }
  
  .favorite-item:hover,  .NovoContainer:hover{
    transition: 0.5s;
    cursor: pointer;
    filter: brightness(80%);
  }


  #photo {
    border-radius: 25px;
    object-fit: cover;
    width: 450px; /* Define a largura da imagem como 300 pixels */
    height: 250px; /* Mantém a proporção da imagem */
    position: relative;
  }
  

  .buttons-align {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .horizontal-buttons {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 15px;
  }
  
  .vertical-buttons {
    position: absolute;
    right: 15px;
    top: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .foodplace-btn,
  .favorite-btn,
  .right-arrow-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .foodplace-btn {
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #FF9900;
  }

  
  .favorite-btn {
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Alinha o conteúdo no centro do eixo X */
    align-items: center; /* Alinha o conteúdo no centro do eixo Y */
    /* Resto do seu estilo */
  }
  
  .favorite-btn p {
    font-size: 32px;
    text-align: center;
    /* Resto do seu estilo */
  }
  
   .favorite-btn.clicked p {
    color: #ff6600;
    /* Resto do seu estilo */
  }
  
  
  
  
  
  .right-arrow-btn {
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Alinha o conteúdo no centro do eixo X */
    align-items: center; /* Alinha o conteúdo no centro do eixo Y */
  }
  


  