body {
  font-family: "inter", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.foods-imgs {
  height: 20vh;
  width: 18vh;
  object-fit: cover;
}


.contentL {

  overflow: hidden;
  height: 17vh;
  width: 17vh;
  display: flex;
}

.contentR {

  width: 40%;
  display: flex;
  padding: 0.5vh 0 0 1vh;
}

.contentR p {
  text-align: justify;
  font-size: 14px;
}

.container {

  max-height: 17vh;
  max-width: 100vh;
  overflow: hidden;
  display: flex;
  color: #090909;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
  margin: 1em auto;

}


.container:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.food {
  display: flex;
  flex-direction: column;
}


.food-title {
  font-size: clamp(20px, 5vw, 50px);
  margin: 1vh;
}

.food-description {
  padding-left: 1vh;
  margin: 0 auto;
  font-size: clamp(20px, 5vw, 50px);
}

.rating {

  margin: 0.5em auto;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars-container {
  text-align: center;
  width: auto;
}

.stars {
  font-size: clamp(10px, 5vw, 50px);
}


.stars.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.stars[data-value="0"] {
  color: gray;
}





.search-container {
  margin-top: 50em;  margin-left: 65%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 10vh;
  text-align: center;
  position: relative;
  font-style: normal;
  width: 10em;
}

#search-bar {
  padding: 0.5em;
  border: 3px solid #FF9900;
  border-radius: 5px;
  width: 10em;
  font-size: 1em;
}
