.food-displayer-container {
    overflow-x: auto;
    white-space: nowrap; /* Evita quebrar a linha */

  }
  
  .food-displayer {
    gap: 50px;
    display: flex;
    flex-direction: row;
    max-height: 1000px; /* Defina o valor apropriado para a largura máxima */
    margin: 0 auto; /* Centraliza o contêiner na página */
  }
  
  .food-item {
    align-content: center;
    height: 300px;
    margin-right: 10px;
    /* Resto do seu estilo */
  }
  
  